$mr-text-light: rgb(149, 142, 145);
$mr-text-dark: #433355;
$mr-bg-light: rgb(93, 84, 97);
$mr-bg-dark: rgb(73, 68, 67);
$mr-color-contrast: rgb(68, 51, 86);

$btn-dark-bg: #343a40;
$btn-dark-border: #343a40;
$btn-dark-color: white;